---
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import Layout from "../layouts/Layout.astro";
import Logs from "../components/Logs.astro";
import "../styles/styles.css";
import "bootstrap/dist/css/bootstrap.min.css";
---

<Layout>
	<div class="container-sm">
		<Header />
		<Logs />
		<Footer />
	</div>
</Layout>
