---
import EspressoList from "../components/EspressoList";
import EspressoGrid from "../components/EspressoGrid";
import "../styles/styles.css";
// fetch data from google sheet

let data;
let error;

try {
	const res = await fetch(
		"https://script.google.com/macros/s/AKfycbxSRX6FR2A44yUPKY2QbVXp1BsxlPKgPIL1sq96OOYDLxXwkA-pd2wu5yID8ZG3Sjuu/exec"
	);

	if (!res.ok) {
		error = "Failed to fetch data";
	}

	({ data } = await res.json());

	// Sort data by timestamp in descending order
	data = data.sort((a, b) => new Date(b.timestamp).getTime() - new Date(a.timestamp).getTime());
} catch (err) {
	error = "We're sorry, but we couldn't load the data. Please try again later.";
}
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Espresso Log</title>
	</head>
	<body>
		{error && <p>{error}</p>}
		{data && <EspressoGrid data={data} />}
	</body>
</html>
