<p>
	Espresso Log 2024 is a project by Michael Allen Smith. The code for this site is freely available
	on
	<a href="https://github.com/digitalcolony/espresso-log" target="_blank" class="underline"
		>GitHub</a
	>. Use however you like.
</p>
