---
import { getCollection } from "astro:content";

const logs = await getCollection("logs");
const logData = logs.map((log) => log.data);
// sort by date descending
logData.sort((a, b) => new Date(b.timestamp).getTime() - new Date(a.timestamp).getTime());
---

<table class="table table-sm striped bordered hover">
	<thead style={{ position: "sticky", top: "0", backgroundColor: "#f8f9fa" }}>
		<tr>
			<th>Date</th>
			<th>Place</th>
			<th>Espresso</th>
			<th>Rating</th>
		</tr>
	</thead>
	<tbody>
		{
			logData.map((log) => (
				<tr>
					<td>{log.timestamp}</td>
					<td>{log.where}</td>
					<td>{log.espresso}</td>
					<td>{log.rating}</td>
				</tr>
			))
		}
	</tbody>
</table>
