<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta
			name="description"
			content="Espresso Log 2024 - I tracked every espresso I had in 2024."
		/>
		<meta name="keywords" content="espresso, coffee, log, tracker" />
		<meta name="author" content="Michael Allen Smith" />
		<meta property="og:title" content="Espresso Log 2024" />
		<meta
			property="og:description"
			content="Espresso Log 2024 - I tracked every espresso I had in 2024."
		/>
		<meta property="og:type" content="website" />
		<title>Espresso Log 2024</title>
	</head>
	<body>
		<slot />
	</body>
</html>
